<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySubitemLabel">Create or edit a Subitem</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!subitem.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="subitem.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="subitem.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_order">Order</label>
            <input type="number" class="form-control" name="order" id="field_order"
                [(ngModel)]="subitem.order" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_identifier">Identifier</label>
            <input type="text" class="form-control" name="identifier" id="field_identifier"
                [(ngModel)]="subitem.identifier" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_image">Image</label>
            <div>
                <div *ngIf="subitem.image" class="form-text text-danger clearfix">
                    <a class="pull-left" (click)="openFile(subitem.imageContentType, subitem.image)">open</a><br>
                    <span class="pull-left">{{subitem.imageContentType}}, {{byteSize(subitem.image)}}</span>
                    <button type="button" (click)="subitem.image=null;subitem.imageContentType=null;"
                            class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_image" (change)="setFileData($event, subitem, 'image', false)"/>
            </div>
            <input type="hidden" class="form-control" name="image" id="field_image"
                [(ngModel)]="subitem.image" />
            <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                [(ngModel)]="subitem.imageContentType" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_item">Item</label>
            <select class="form-control" id="field_item" name="item" [(ngModel)]="subitem.item" >
                <option [ngValue]="null"></option>
                <option [ngValue]="itemOption.id === subitem.item?.id ? subitem.item : itemOption" *ngFor="let itemOption of items; trackBy: trackItemById">{{itemOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_checklist">Checklist</label>
            <select class="form-control" id="field_checklist" multiple name="checklist" [(ngModel)]="subitem.checklists">
                <option [ngValue]="getSelected(subitem.checklists, checklistOption)" *ngFor="let checklistOption of checklists; trackBy: trackChecklistById">{{checklistOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
