<div>
    <h2>
        <span>Subitems</span>
        <button class="btn btn-primary float-right jh-create-entity create-subitem" [routerLink]="['/', { outlets: { popup: ['subitem-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Subitem
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="subitems">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Order</span></th>
            <th><span>Identifier</span></th>
            <th><span>Image</span></th>
            <th><span>Item</span></th>
            <th><span>Checklist</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let subitem of subitems ;trackBy: trackId">
                <td><a [routerLink]="['../subitem', subitem.id ]">{{subitem.id}}</a></td>
                <td>{{subitem.name}}</td>
                <td>{{subitem.order}}</td>
                <td>{{subitem.identifier}}</td>
                <td>
                    <a *ngIf="subitem.image" (click)="openFile(subitem.imageContentType, subitem.image)">open</a>
                    <span *ngIf="subitem.image">{{subitem.imageContentType}}, {{byteSize(subitem.image)}}</span>
                </td>
                <td>
                    <div *ngIf="subitem.item">
                        <a [routerLink]="['../item', subitem.item?.id ]" >{{subitem.item?.id}}</a>
                    </div>
                </td>
                <td>
                    <span *ngFor="let checklist of subitem.checklists; let last = last">
                            <a class="form-control-static" [routerLink]="['../checklist', checklist?.id ]">{{checklist.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../subitem', subitem.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'subitem/'+ subitem.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'subitem/'+ subitem.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
