<div>
    <h2>
        <span>Checklists</span>
        <button class="btn btn-primary float-right jh-create-entity create-checklist" [routerLink]="['/', { outlets: { popup: ['checklist-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Checklist
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="checklists">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Order</span></th>
            <th><span>Identifier</span></th>
            <th><span>Image</span></th>
            <th><span>Checklistitem</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let checklist of checklists ;trackBy: trackId">
                <td><a [routerLink]="['../checklist', checklist.id ]">{{checklist.id}}</a></td>
                <td>{{checklist.name}}</td>
                <td>{{checklist.order}}</td>
                <td>{{checklist.identifier}}</td>
                <td>
                    <a *ngIf="checklist.image" (click)="openFile(checklist.imageContentType, checklist.image)">open</a>
                    <span *ngIf="checklist.image">{{checklist.imageContentType}}, {{byteSize(checklist.image)}}</span>
                </td>
                <td>
                    <span *ngFor="let checklistitem of checklist.checklistitems; let last = last">
                            <a class="form-control-static" [routerLink]="['../checklist-item', checklistitem?.id ]">{{checklistitem.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../checklist', checklist.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'checklist/'+ checklist.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'checklist/'+ checklist.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
